<div class="container"></div>
<div style="text-align:center ">
<h3 class="youth fsize60"> 삭제를 위해 비밀번호를 입력해주세요</h3>
<div class="row">
    <form action="/checkvaluedelete/<%= @post.id %>" method="POST">
    <div class="input-field col s6 offset-s3" action="/checkvalueedit/<%=@post.id%>" method="POST">
        <input name="check" id="editcheck" type="password" class="validate">
        <label for="editcheck">비밀번호</label>
    </div>
    <br>
    <button class="btn waves-effect red lighten-1" type="submit">입력
        <i class="material-icons right">send</i>
    </button>
    </form>
</form>
</div>
</div>
</div>