 <div class="parallax-container">
    <div class="parallax"><img src="title1.jpg"></div>
 </div>
  <div class="section red lighten-5">
    <div class="row container">
      <div style="text-align :center">
      <h2 class="header lotte w700 fsize60">편지쓰자!</h2>
      <p class="grey-text text-darken-3 lighten-3 youth ">스승의 날 편지를 손쉽게 써봐요!</p>
      <a class="waves-effect red lighten-1 btn" href="/home/index">시작하기</a>
      </div>
    </div>
  </div>
 <div class="parallax-container">
    <div class="parallax"><img src="title2.jpg"></div>
 </div>
 
 <script>
    $(document).ready(function(){
    $('.parallax').parallax();
    });
        
 </script>